# The directory Mix will write compiled artifacts to.
/_build/

# If you run "mix test --cover", coverage assets end up here.
/cover/

# The directory Mix downloads your dependencies sources to.
/deps/

# Where 3rd-party dependencies like ExDoc output generated docs.
/doc/

# Ignore .fetch files in case you like to edit your project deps locally.
/.fetch

# If the VM crashes, it generates a dump, let's ignore it too.
erl_crash.dump

# Also ignore archive artifacts (built via "mix archive.build").
*.ez

# Ignore package tarball (built via "mix hex.build").
chat-*.tar

# Ignore assets that are produced by build tools.
/priv/static/assets/
/priv/static/frontend/
/priv/certs/

# Ignore digested assets cache.
/priv/static/cache_manifest.json

# In case you use Node.js/npm, you want to ignore these.
npm-debug.log
/assets/node_modules/

# Dialyzer
/priv/plts/*.plt
/priv/plts/*.plt.hash

# Sobelow
.sobelow

# Certificates
/priv/cert

# Database
/priv/db
/priv/2nd
/priv/admin_db*
/priv/test_backup_db
/priv/test_db
/priv/test_admin_db

# OS and IDEs files
chat.iml
.DS_Store
.idea/
.elixir-ls/
.elixir-tools/
.vscode/
node_modules

# Ignore digested assets
/priv/static/cache_manifest.json
/priv/static/**/*-????????????????????????????????.*
/priv/static/**/*.gz
.aider*
