@import './variables.scss';
$_icons: (
	'logo',
	// main menu
	'rooms',
	'chats',
	'contacts',
	'share',
	'logout',
	'profile',
	// sub menu
	'settings',
	'admin',
	'backups',
	'shares',
	'restore',
	'transactions',
	// common
	'search',
	'times',
	'plus',
	'back',
	'copy',
	'delete',
	'edit',
	'edit_pen',
	'warning',
	'reload',
	'info',
	'signin',
	'signout',
	'eye',
	'eye_cross',
	//
	'gnossis_chain',
	'buckitup_circle',
	'buckup_devices',
	'wifi',
	'arrow_left',
	'arrow_right',
	'activated',
	'shares_num',
	'timer',
	'notifications',
	'tag',
	'unlock'
);

@each $name in $_icons {
	._icon_#{$name} {
		-webkit-mask: url('/icons/#{$name}.svg') no-repeat center / contain;
		mask: url('/icons/#{$name}.svg') no-repeat center / contain;
		min-width: 1rem;
		height: 1rem;
		display: block;
		background-color: $black;
	}
}
