@import './variables.scss';
@import '@/scss/breakpoints.scss';

.modal {
	//&.show {
	//  display: flex !important;
	//  width: 100%;
	//  align-items: end !important;
	//  justify-content: center;
	//  @include media-breakpoint-up(sm) {
	//    display: block !important;
	//    align-items: unset;
	//  }
	//}
	&.modal-sm {
		.modal-dialog {
			@include media-breakpoint-up(sm) {
				max-width: 30rem;
			}
		}
	}
	.modal-dialog {
		//  //padding: 0 !important;
		//  margin: 0;
		//  width: 100%;
		//  max-width: 100%;
		//  max-height: 100%;
		//  @include media-breakpoint-up(sm) {
		//    padding: 1rem !important;
		//    margin-left: auto;
		//    margin-right: auto;
		//    max-width: 50rem;
		//  }
		.modal-content {
			border-radius: $blockRadius;
			//    border-bottom-left-radius: 0;
			//    border-bottom-right-radius: 0;
			//    border: none;
			//    @include media-breakpoint-up(sm) {
			//      border-radius: $blockRadius;
			//    }
		}
	}
}
