@import './variables.scss';
._pointer {
	cursor: pointer;
}
._hidden {
	display: none;
}
._disabled,
._loading {
	pointer-events: none;
	opacity: 0.8;
}

._truncate {
	white-space: nowrap; // Prevents text from wrapping to a new line
	overflow: hidden; // Hides overflowed text
	text-overflow: ellipsis; // Adds "..." at the end of truncated text
}

._btn_back {
	padding: 0.4rem 0.8rem;
	cursor: pointer;
	i {
		margin-top: 0.15rem;
		height: 1rem;
		width: 1rem;
		background-color: $black;
	}
}

._swal_modal_backdrop {
	z-index: 1056; /* Set your desired z-index */
}

._sub_menu_btn {
	display: flex;
	align-items: center;
	padding: 0.5rem;
	width: 100%;
	cursor: pointer;
	border-radius: $blockRadiusSm;
	&:hover {
		background-color: lighten($black, 90%);
	}
	&._selected,
	&._active {
		background-color: lighten($black, 85%);
	}
	._i_block {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 2.5rem;
		width: 2.5rem;
		i {
			height: 1.8rem;
			width: 1.8rem;
		}
		margin-right: 1rem;
	}
}

._input_block {
	padding: 1rem 1rem;
	background-color: darken($white, 5%);
	border-radius: $blockRadius;
}

._data_block {
	padding: 1rem 1rem;
	border: 1px solid $light_grey2;
	border-radius: $blockRadius;
}

._full_width_block {
	border-radius: $blockRadius;
	background-color: $white;
	padding: 0.8rem 0.8rem;

	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(lg) {
		padding: 1.5rem 1.5rem;
	}
}

._divider {
	display: flex;
	align-items: center;
	text-align: center;
	margin-bottom: 0.5rem;
	font-weight: bold;
	color: #333;
	&::before,
	&::after {
		content: '';
		flex: 1;
		border-bottom: 1px solid #ccc; /* Adjust thickness and color */
		margin: 0 10px; /* Space around text */
	}
}

@import 'floating-vue/dist/style.css';

.v-popper--theme-tooltip {
	.v-popper__inner {
		background: $white;
		font-size: 0.9rem;
		color: $dark;
		border: 1px solid $grey_dark;
		border-radius: $blockRadiusSm;
		box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05);
	}
	.v-popper__arrow-outer {
		border-color: $grey_dark;
	}
}

._highlight_search_text {
	//background-color: rgba(0, 0, 0, 0.089); // Light yellow background
	color: $primary;
	font-weight: bold;
}

._search {
	flex-shrink: 0;
	height: 2.2rem;
	._input_search {
		width: 100%;
		display: flex;
		justify-content: start;
		align-items: center;
		padding: 0 0.2rem 0 0.2rem;
		background-color: $white;
		border: 1px solid $light_grey2;
		transition: all 0.3s ease;
		border-radius: $blockRadius;
		height: 100%;
		//margin-bottom: 0.5rem;
		&:placeholder {
			color: $grey_dark;
			font-weight: 300;
		}
		input {
			background-color: transparent;
			border: none;
			color: $black;
			width: 100%;
		}
		&:focus-within {
			border: 1px solid $light_grey2;
		}
		div {
			padding-left: 1rem;
			padding-right: 1rem;
			background-color: $grey_dark;
			height: 1rem;
			width: 1rem;
			&._icon_times {
				cursor: pointer;
			}
			transition: all 0.3s ease;
			&:hover {
				&._icon_times {
					background-color: $dark;
				}
			}
		}
	}
}

.btn-outline-dark {
	color: $dark;
	&:hover,
	&:active,
	&.active,
	&:checked {
		color: $white !important;
		*[class^='_icon'],
		*[class^='_i_'] {
			background-color: $white !important;
		}
	}
	*[class^='_icon'],
	*[class^='_i_'] {
		background-color: $dark;
	}
}

.btn-outline-danger {
	color: $red;
	&:hover,
	&:active,
	&.active,
	&:checked {
		color: $white !important;
		*[class^='_icon'],
		*[class^='_i_'] {
			background-color: $white !important;
		}
	}
	*[class^='_icon'],
	*[class^='_i_'] {
		background-color: $red;
	}
}
