// functions (colors, SVGs, calc, etc)
@import 'bootstrap/scss/functions';

// variable overrides here
@import './variables.scss';
@import './icons.scss';

$body-bg: $white;
$body-color: $black;

$grid-columns: 30 !default;
$grid-gutter-width: 1rem !default;
$grid-row-columns: 6 !default;

$link-decoration: none; // Optional: Add underline
$input-placeholder-color: $grey_dark;

$tooltip-bg: $white;
$tooltip-color: $dark;

$form-check-input-bg: rgba($black, 0.1);
$form-check-input-border: 1px solid rgba($black, 0.25);
$form-check-input-focus-border: 1px solid rgba($black, 0.25);
$form-check-input-checked-color: rgba($black, 0.25);
$form-check-input-checked-bg-color: $black;
$form-check-input-indeterminate-bg-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path fill='none' stroke='#FFF' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10h8'/></svg>");
.form-switch {
	cursor: pointer;
	input {
		cursor: pointer;
		background-color: $light_grey;

		&:focus {
			--bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='#{rgba($black, 0.25)}'/%3e%3c/svg%3e") !important;
		}

		// When switch is toggled ON (white thumb)
		&:checked {
			--bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23FFF'/%3e%3c/svg%3e") !important;
		}
	}
}

// required parts
@import 'bootstrap/scss/bootstrap.scss';

html,
body {
	overflow-x: hidden;
}
#app {
	height: 100%;
}

body {
	height: 100vh; /* full browser height */
	min-height: 100%;
	margin: 0;
	padding: 0;
	//background-color: #fafafa !important;
	background: linear-gradient(259.74deg, #8b3e4f -10.89%, #722f58 32.43%, #502461 72.28%, #162755 100%);
}

// ----------------------------- BUTTONS -----------------------------
*:focus {
	outline: 0;
	box-shadow: none !important;
}

// transition
.fade-enter-active,
.fade-leave-active {
	transition: opacity 0.2s ease;
}

.fade-enter-from,
.fade-leave-to {
	opacity: 0;
}

/// scroll
/// /* Chrome, Edge and Safari */
*::-webkit-scrollbar {
	height: 6px;
	width: 6px;
	margin-right: 0.2rem;
	padding-right: 0.2rem;
}
*::-webkit-scrollbar-track {
	//border-radius: 5px;
	background-color: transparent;
}

*::-webkit-scrollbar-track:hover {
	//background-color: lighten($black, 90%);
}

*::-webkit-scrollbar-track:active {
	background-color: lighten($black, 90%);
}

*::-webkit-scrollbar-thumb {
	//border-radius: 5px;
	//background-color: $primary;
	background-color: lighten($black, 80%);
	border-radius: 2rem;
}

*::-webkit-scrollbar-thumb:hover {
	background-color: lighten($black, 70%);
}

*::-webkit-scrollbar-thumb:active {
	background-color: lighten($black, 70%);
}

@import './styles.scss';
@import './modal.scss';

//@import 'floating-vue/dist/style.css';
